// Footer
footer.footer
  .container
    .inner-top
      h2.inner-title Sign up for the latest news and promotions
      form#email-form.inner-form(action="")
        input#email-input(
          placeholder="Enter your email..." 
          type="email" 
          name="email"
          )
        button Sign Up
    .inner-middle
      nav.inner-links
        ul
          li
            a(href="#") Home
          li
            a(href="#") Domestic Tours
          li
            a(href="#") International Tours
          li
            a(href="#") News
          li
            a(href="#") Contact
      nav.inner-socials
        ul
          li
            a(
              target="_blank" 
              href="#"
              )
              i.fa-brands.fa-facebook
          li
            a(
              target="_blank" 
              href="#"
              )
              i.fa-brands.fa-x-twitter
          li
            a(
              target="_blank" 
              href="#"
              )
              i.fa-brands.fa-instagram
          li
            a(
              target="_blank" 
              href="#"
              )
              i.fa-brands.fa-youtube
    .inner-bottom
      .inner-copyright © 2025 PVTravel. All rights reserved.
      .inner-logo
        a(href="index.html")
          img(
            alt="PVTravel" 
            src="/assets/images/logo.svg"
            )
      nav.inner-links
        ul
          li
            a(href="#") Terms & Conditions
          li
            a(href="#") Privacy Policy
// End Footer