// Top Header
section.top-header
  .container
    .inner-wrap
      if(settingWebsiteInfo.phone)
        .inner-item
          i.fa-solid.fa-phone
          | #{settingWebsiteInfo.phone}
      if(settingWebsiteInfo.email)
        .inner-item
          i.fa-solid.fa-envelope
          | #{settingWebsiteInfo.email}
      if(settingWebsiteInfo.address)
        .inner-item
          i.fa-solid.fa-building
          | #{settingWebsiteInfo.address}
// End Top Header
// Header
header.header
  .container
    .inner-wrap
      button.inner-menu-mobile
        i.fa-solid.fa-bars
      .inner-logo
        a(href="/")
          img(
            alt=settingWebsiteInfo.websiteName
            src=settingWebsiteInfo.logo
            )
          .inner-logo-text
            | #{settingWebsiteInfo.websiteName}
      nav.inner-menu
        ul
          li
            a.active(href="/") Home
          each item in categoryList 
            li 
              a(href=`/category/${item.slug}`) #{item.name}
              i.fa-solid.fa-caret-down
              if(item.children)
                ul 
                  each itemChild in item.children
                    li 
                      a(href=`/category/${itemChild.slug}`) #{itemChild.name}
          li
            a(href="#") News
          li
            a(href="#") Contact
        // Hidden Overlay
        .inner-overlay
        // End Hidden Overlay
      .inner-cart
        a(href="/cart")
          img(
            alt="Cart" 
            src="/assets/images/icon-cart.svg"
            )
          span 1
// End Header