extends ../layouts/default.pug
include ../mixins/box-breadcrumb.pug
include ../mixins/product-item.pug

block main
  //- Box Breadcrumb
  +box-breadcrumb(breadcrumb)
  //- End Box Breadcrumb

  // Section 9
  section.section-9
    .container
      .inner-wrap
        .inner-left
          // Box Filter
          .box-filter
            .inner-head
              .inner-title Filter
              i.fa-solid.fa-filter
            .inner-body
              .inner-group
                label.inner-label(for="locationFrom") Departure
                select(name="locationFrom" id="locationFrom")
                  option(value="") -- Select Departure --
                  each item in cityList
                    option(value=item.id) #{item.name}
              .inner-group
                label.inner-label(for="locationTo") Destination
                select(name="locationTo" id="locationTo")
                  option(value="") -- Select Destination --
                  each item in cityList
                    option(value=item.name) #{item.name}
              .inner-group
                label.inner-label(for="departureDate") Departure Date
                input(
                  name="departureDate"
                  id="departureDate" 
                  type="date"
                  )
              .inner-group
                label.inner-label(for="") Number of Passengers
                .inner-input-list
                  .inner-input-item
                    span Adult:
                    input(
                      value="0" 
                      name="stockAdult" 
                      type="number"
                      )
                  .inner-input-item
                    span Child:
                    input(
                      value="0" 
                      name="stockChildren" 
                      type="number"
                      )
                  .inner-input-item
                    span Infant:
                    input(
                      value="0" 
                      name="stockBaby" 
                      type="number"
                      )
              .inner-group
                label.inner-label(for="priceRange") Price Range ($)
                select(name="priceRange" id="priceRange")
                  option(value="") -- Select Price Range --
                  option(value="0-300") Under $300
                  option(value="300-500") $300 - $500
                  option(value="500-700") $500 - $700
                  option(value="700-1000000000") Over $700
              .inner-group
                button.inner-button Apply
          .inner-overlay
          // End Box Filter
        .inner-right
          .inner-info
            h2.inner-title #{category.name}
            .inner-desc
              | !{category.description}
          .inner-info-2
            .inner-sort
              .inner-label Sort by:
              .inner-list
                button
                  | Price: Low to High
                  i.fa-solid.fa-square-caret-up
                button
                  | Price: High to Low
                  i.fa-solid.fa-square-caret-down
                button.active
                  | Hot Deals
                  i.fa-solid.fa-tag
                button
                  | Most Viewed
                  i.fa-solid.fa-eye
            .inner-count-record
              | All: 
              b #{tourListSection9.length} Tours
            button.inner-filter-mobile
              span.inner-title Filter
              i.fa-solid.fa-filter
          .inner-list-tour
            each item in tourListSection9
              +product-item(item)
          // Box Pagination
          .box-pagination
            button
              i.fa-solid.fa-angles-left
            button.active 1
            button 2
            button 3
            button 4
            button 5
            button
              i.fa-solid.fa-angles-right
          // End Box Pagination
  // End Section 9

  