extends ../layouts/default.pug

block main 
  h1.box-title Contact Trash

  //- Section 5
  section.section-5 
    .inner-wrap 
      .inner-change-status(
        change-multi
        data-api=`/${pathAdmin}/contact/trash/change-multi`
      )
        .inner-item
          select
            option(value="") -- Actions --
            option(value="undo") Restore
            option(value="delete-destroy") Delete Permanently
        .inner-item
          button Apply 
      
      .inner-search
        <i class="fa-solid fa-magnifying-glass"></i>
        input(type="text" placeholder="Search" search)
  //- End Section 5

  //- Section 6
  section.section-6 
    .table-2 
      table 
        thead 
          tr 
            th(class="inner-center")
              input(type="checkbox" class="inner-check" check-all)
            th Email
            th Deleted By
            th(class="inner-center") Actions
        tbody
          if(contactList.length == 0)
            tr 
              td(class="inner-center" colspan="4") No contacts found in the trash
          else
            each item in contactList
              tr 
                td(class="inner-center")
                  input(type="checkbox" class="inner-check" check-item=item.id)
                td #{item.email}
                td
                  div #{item.deletedByFullName} 
                  div.inner-time #{item.deletedAtFormat}
                td.inner-center
                  .inner-buttons 
                    button(
                      class="inner-undo"
                      button-undo
                      data-api=`/${pathAdmin}/contact/undo/${item.id}`
                    ) <i class="fa-solid fa-rotate-left"></i>
                    button(
                      class="inner-delete"
                      button-delete
                      data-api=`/${pathAdmin}/contact/delete-destroy/${item.id}`
                    ) <i class="fa-regular fa-trash-can"></i>
  //- End Section 6

  //- Section 7
  section.section-7 
    span(class="inner-label") Showing #{pagination.skip + 1} - #{pagination.skip + contactList.length} of #{pagination.totalRecord} entries
    select(class="inner-pagination" pagination)
      - for(let i = 1; i <= pagination.totalPage; i++)
        option(value=i) Page #{i}
  //- End Section 7