extends ../layouts/default.pug

block main 
  h1.box-title Contact Trash

  //- Section 5
  section.section-5 
    .inner-wrap 
      .inner-change-status
        .inner-item
          select
            option(value="") -- Actions --
            option(value="") Restore
            option(value="") Delete Permanently
        .inner-item
          button Apply 
      
      .inner-search
        <i class="fa-solid fa-magnifying-glass"></i>
        input(type="text" placeholder="Search")
  //- End Section 5

  //- Section 6
  section.section-6 
    .table-2 
      table 
        thead 
          tr 
            th(class="inner-center")
              input(type="checkbox" class="inner-check")
            th Email
            th Deleted By
            th(class="inner-center") Actions
        tbody
          each item in contactList
            tr 
              td(class="inner-center")
                input(type="checkbox" class="inner-check")
              td #{item.email}
              td
                div #{item.deletedByFullName} 
                div.inner-time #{item.deletedAtFormat}
              td.inner-center
                .inner-buttons 
                  button(
                    class="inner-undo"
                    button-undo
                    data-api=`/${pathAdmin}/contact/undo/${item.id}`
                  ) <i class="fa-solid fa-rotate-left"></i>
                  button(
                    class="inner-delete"
                    button-delete
                    data-api=`/${pathAdmin}/contact/delete-destroy/${item.id}`
                  ) <i class="fa-regular fa-trash-can"></i>
  //- End Section 6

  //- Section 7
  section.section-7 
    span(class="inner-label") Showing 1 - 9 of 78 entries
    select(class="inner-pagination")
      option Page 1
      option Page 2
      option Page 3
  //- End Section 7