extends ../layouts/account.pug

block title 
  title Forgot Password

block main 
  .form-account
    h2.inner-title Forgot Password
    p.inner-desc Enter your email to reset your password

    form.inner-form#forgot-password-form
      .inner-group 
        label(
          for="email"
          class="inner-label"
        ) Email

        input(
          type="email"
          id="email"
          name="email"
          placeholder="Example: johnsmith@gmail.com"
          class="inner-control"
        )

      button(class="inner-button") Send OTP Code

    .inner-more 
      span Remember your password?
      a(href="#") Sign In