extends ../layouts/account.pug

block title 
  title Enter OTP Code

block main 
  .form-account
    h2.inner-title Enter OTP Code
    p.inner-desc Enter the OTP code sent to your email

    form.inner-form#otp-password-form
      .inner-group 
        label(
          for="otp"
          class="inner-label"
        ) OTP Code

        input(
          type="text"
          id="otp"
          name="otp"
          placeholder="Example: 123456"
          class="inner-control"
        )

      button(class="inner-button") Verify

    .inner-more 
      span Remember your password?
      a(href="#") Sign In