extends ../layouts/default.pug

block main 
  h1.box-title Profile 
  
  //- Section 8
  section.section-8 
    form#profile-edit-form
      .inner-group 
        label(class="inner-label" for="fullName") Full Name
        input(type="text" id="fullName" name="fullName" value=profileDetail.fullName)
      .inner-group 
        label(class="inner-label" for="email") Email
        input(type="email" id="email" name="email" value=profileDetail.email)
      .inner-group 
        label(class="inner-label" for="phone") Phone
        input(type="text" id="phone" name="phone" value=profileDetail.phone)
      .inner-group 
        label(class="inner-label" for="positionCompany") Position
        input(type="text" id="positionCompany" name="positionCompany" value=profileDetail.positionCompany readonly)
      .inner-group 
        label(class="inner-label" for="role") Role
        input(type="text" id="role" name="role" value=profileDetail.roleName readonly)
      .inner-group.inner-two-col 
        label(class="inner-label" for="avatar") Avatar 
        div(class="inner-upload-image" image-default=profileDetail.avatar)
          input(type="file" id="avatar" name="avatar" accept="image/*" filepond-image)
      .inner-button.inner-two-col 
        button Update
    .inner-back 
      a(href=`/${pathAdmin}/profile/change-password`) Change Password
  //- End Section 8