extends ../layouts/account.pug

block title 
  title Reset Password

block main 
  .form-account
    h2.inner-title Reset Password
    p.inner-desc Enter your new password to reset your password

    form.inner-form#reset-password-form
      .inner-group 
        label(
          for="password"
          class="inner-label"
        ) New Password

        input(
          type="password"
          id="password"
          name="password"
          class="inner-control"
        )

      .inner-group 
        label(
          for="confirm-password"
          class="inner-label"
        ) Confirm Password

        input(
          type="password"
          id="confirm-password"
          name="confirmPassword"
          class="inner-control"
        )

      button(class="inner-button") Reset Password

    .inner-more 
      span Remember your password?
      a(href="#") Sign In