extends ../layouts/default.pug

block main 
  h1.box-title Role List

  //- Section 5
  section.section-5 
    .inner-wrap 
      .inner-change-status(
        change-multi
        data-api=`/${pathAdmin}/setting/role/change-multi`
      )
        .inner-item
          select
            option(value="") -- Actions --
            option(value="delete") Delete 
        .inner-item
          button Apply 
      
      .inner-search
        <i class="fa-solid fa-magnifying-glass"></i>
        input(type="text" placeholder="Search")
      
      .inner-button-create 
        a(href=`/${pathAdmin}/setting/role/create`)  <i class="fa-solid fa-plus"></i> Create
  //- End Section 5

  //- Section 6
  section.section-6 
    .table-2 
      table 
        thead 
          tr 
            th(class="inner-center")
              input(type="checkbox" class="inner-check" check-all)
            th Role Name
            th Description
            th Actions
        tbody
          if(roleList.length == 0)
            tr 
              td(class="inner-center" colspan="4") No roles found
          else if(roleList.length > 0)
            each item in roleList 
              tr 
                td(class="inner-center")
                  input(type="checkbox" class="inner-check" check-item=item.id)
                td #{item.name}
                td #{item.description}
                td
                  .inner-buttons 
                    a(
                      class="inner-edit"
                      href=`/${pathAdmin}/setting/role/edit/${item.id}`
                    ) <i class="fa-regular fa-pen-to-square"></i>
                    button(
                      class="inner-delete"
                      button-delete 
                      data-api=`/${pathAdmin}/setting/role/delete/${item.id}`
                    ) <i class="fa-regular fa-trash-can"></i>
  //- End Section 6