extends ../layouts/default.pug

block main 
  h1.box-title Website Info 
  
  //- Section 8
  section.section-8 
    form#setting-website-info-form
      .inner-group 
        label(class="inner-label" for="websiteName") Website Name
        input(type="text" id="websiteName" name="websiteName" value=settingWebsiteInfo.websiteName)
      .inner-group 
        label(class="inner-label" for="phone") Phone
        input(type="text" id="phone" name="phone" value=settingWebsiteInfo.phone)
      .inner-group 
        label(class="inner-label" for="email") Email
        input(type="email" id="email" name="email" value=settingWebsiteInfo.email)
      .inner-group
        label(class="inner-label" for="address") Address
        input(type="text" id="address" name="address" value=settingWebsiteInfo.address)
      .inner-group
        label(class="inner-label" for="logo") Logo 
        div(class="inner-upload-image" image-default=settingWebsiteInfo.logo)
          input(type="file" id="logo" name="logo" accept="image/*" filepond-image)
      .inner-group 
        label(class="inner-label" for="favicon") Favicon
        div(class="inner-upload-image" image-default=settingWebsiteInfo.favicon)
          input(type="file" id="favicon" name="favicon" accept="image/*" filepond-image)
      .inner-button.inner-two-col 
        button Update 
    .inner-back 
      a(href=`/${pathAdmin}/setting/list`) Back to Settings
  //- End Section 8