extends ../layouts/default.pug
include ../mixins/options.pug

block main 
  h1.box-title Edit Tour

  //- Section 8
  section.section-8 
    form#tour-edit-form
      .inner-group(style="display:none")
        input(type="text" id="id" name="id" value=tourDetail.id)
      .inner-group
        label(for="name" class="inner-label") Tour Name
        input(type="text" id="name" name="name" value=tourDetail.name)
      .inner-group 
        label(for="category" class="inner-label") Category
        select(id="category" name="category")
          option(value="") -- Select Category --
          +options(categoryList, 0, tourDetail.category)
      .inner-group 
        label(for="position" class="inner-label") Position
        input(type="number" id="position" name="position" value=tourDetail.position)
      .inner-group 
        label(for="status" class="inner-label") Status
        select(id="status" name="status")
          option(value="") -- Select Status --
          option(
            value="active"
            selected=(tourDetail.status == 'active' ? true : false)
          ) Active
          option(
            value="inactive"
            selected=(tourDetail.status == 'inactive' ? true : false)
          ) Inactive
      .inner-group.inner-two-col
        label(for="avatar" class="inner-label") Avatar
        div(class="inner-upload-image" image-default=tourDetail.avatar)
          input(type="file" id="avatar" name="avatar" accept="image/*" filepond-image)
      .inner-group.inner-two-col
        label(class="inner-label" for="images") Images
        div(class="inner-upload-image-multi" image-default=tourDetail.images)
          input(
            type="file"
            multiple 
            id="images"
            name="images"
            accept="image/*"
            data-allow-reorder="true"
            filepond-image-multi
          )
      .inner-group 
        label(class="inner-label") Old price 
        .inner-input-list 
          .inner-input-item 
            label Adult
            input(type="number" name="priceAdult" value=tourDetail.priceAdult)
          .inner-input-item 
            label Child
            input(type="number" name="priceChildren" value=tourDetail.priceChildren)
          .inner-input-item 
            label Infant
            input(type="number" name="priceBaby" value=tourDetail.priceBaby)
      .inner-group 
        label(class="inner-label") New price 
        .inner-input-list 
          .inner-input-item 
            label Adult
            input(type="number" name="priceNewAdult" value=tourDetail.priceNewAdult)
          .inner-input-item 
            label Child
            input(type="number" name="priceNewChildren" value=tourDetail.priceNewChildren)
          .inner-input-item 
            label Infant
            input(type="number" name="priceNewBaby" value=tourDetail.priceNewBaby)
      .inner-group 
        label(class="inner-label") Availability
        .inner-input-list 
          .inner-input-item 
            label Adult
            input(type="number" name="stockAdult" value=tourDetail.stockAdult)
          .inner-input-item 
            label Child
            input(type="number" name="stockChildren" value=tourDetail.stockChildren)
          .inner-input-item 
            label Infant
            input(type="number" name="stockBaby" value=tourDetail.stockBaby)
      .inner-group 
        label(class="inner-label") Tour is available in
        .inner-checkbox-list 
          each item in cityList 
            .inner-checkbox-item
              input(
                type="checkbox" 
                name="locations" 
                value=item.id
                checked=tourDetail.locations.includes(item.id)
              )
              label #{item.name}
      .inner-group 
        label(for="time" class="inner-label") Duration 
        input(type="text" id="time" name="time" value=tourDetail.time)
      .inner-group 
        label(for="vehicle" class="inner-label") Vehicle 
        input(type="text" id="vehicle" name="vehicle" value=tourDetail.vehicle)
      .inner-group 
        label(for="departureDate" class="inner-label") Departure Date 
        input(type="date" id="departureDate" name="departureDate" value=tourDetail.departureDate)
      .inner-group.inner-two-col 
        label(for="information" class="inner-label") Tour Information
        textarea(id="information" name="information" textarea-mce) #{tourDetail.information}
      .inner-group.inner-two-col
        label(class="inner-label") Tour Schedule
        .inner-schedule
          .inner-schedule-list
            if(tourDetail.schedules.length > 0)
              each item in tourDetail.schedules
                .inner-schedule-item 
                  .inner-schedule-head 
                    span(class="inner-schedule-button inner-move")
                      <i class="fa-solid fa-arrows-up-down-left-right"></i>
                    input(type="text" value=item.title)
                    span(class="inner-schedule-button inner-remove")
                      <i class="fa-regular fa-trash-can"></i>
                    span(class="inner-schedule-button inner-more")
                      <i class="fa-solid fa-angle-up"></i>
                  .inner-schedule-body 
                    textarea(textarea-mce) #{item.description}
            else
              .inner-schedule-item 
                  .inner-schedule-head 
                    span(class="inner-schedule-button inner-move")
                      <i class="fa-solid fa-arrows-up-down-left-right"></i>
                    input(type="text")
                    span(class="inner-schedule-button inner-remove")
                      <i class="fa-regular fa-trash-can"></i>
                    span(class="inner-schedule-button inner-more")
                      <i class="fa-solid fa-angle-up"></i>
                  .inner-schedule-body 
                    textarea(textarea-mce)
          .inner-schedule-create + Add Schedule
      .inner-button.inner-two-col 
        button Save
    .inner-back 
      a(href=`/${pathAdmin}/tour/list`) Back to Tour List 
  //- End Section 8