extends ../layouts/default.pug

block main 
  h1.box-title Tour Trash

  //- Section 5
  section.section-5 
    .inner-wrap 
      .inner-change-status(
        change-multi
        data-api=`/${pathAdmin}/tour/trash/change-multi`
      )
        .inner-item
          select
            option(value="") -- Actions --
            option(value="undo") Restore
            option(value="delete-destroy") Delete Permanently 
        .inner-item
          button Apply 
      
      .inner-search
        <i class="fa-solid fa-magnifying-glass"></i>
        input(type="text" placeholder="Search")
  //- End Section 5

  //- Section 6
  section.section-6 
    .table-2 
      table 
        thead 
          tr 
            th(class="inner-center")
              input(type="checkbox" class="inner-check" check-all)
            th Tour Name
            th Thumbnail
            th Price
            th Availability
            th(class="inner-center") Position
            th(class="inner-center") Status
            th Deleted By
            th Actions
        tbody
          if(tourList.length == 0)
            tr 
              td(class="inner-center" colspan="9") No tours found in the trash
          else
            each item in tourList   
              tr 
                td(class="inner-center")
                  input(type="checkbox" class="inner-check" check-item=item.id)
                td #{item.name}
                td 
                  img(src=item.avatar alt=item.name class="inner-avatar")
                td 
                  div Adult: $#{item.priceNewAdult > 0 ? item.priceNewAdult.toLocaleString("en-AU") : item.priceAdult.toLocaleString("en-AU")}
                  div Child: $#{item.priceNewChildren > 0 ? item.priceNewChildren.toLocaleString("en-AU") : item.priceChildren.toLocaleString("en-AU")}
                  div Infant: $#{item.priceNewBaby > 0 ? item.priceNewBaby.toLocaleString("en-AU") : item.priceBaby.toLocaleString("en-AU")}
                td 
                  div Adult: #{item.stockAdult}
                  div Child: #{item.stockChildren}
                  div Infant: #{item.stockBaby}
                td(class="inner-center") #{item.position}
                td(class="inner-center")
                  if(item.status == 'active')
                    .badge.badge-green Active
                  else if(item.status == 'inactive')
                    .badge.badge-red Inactive
                td 
                  div #{item.deletedByFullName} 
                  div.inner-time #{item.deletedAtFormat}
                td
                  .inner-buttons 
                    button(
                      class="inner-undo"
                      button-undo
                      data-api=`/${pathAdmin}/tour/undo/${item.id}`
                    ) <i class="fa-solid fa-rotate-left"></i>
                    button(
                      class="inner-delete"
                      button-delete
                      data-api=`/${pathAdmin}/tour/delete-destroy/${item.id}`
                    ) <i class="fa-regular fa-trash-can"></i>
  //- End Section 6

  //- Section 7
  section.section-7 
    span(class="inner-label") Showing 1 - 9 of 78 entries
    select(class="inner-pagination")
      option Page 1
      option Page 2
      option Page 3
  //- End Section 7