mixin product-item(item)
  .product-item
    .inner-image
      a(href=`/tour/detail/${item.slug}`)
        img(
          alt=item.name 
          src=item.avatar
          )
    .inner-discount
      i.fa-solid.fa-bolt
      | -#{item.discount}% OFF
    .inner-content
      h3.inner-title
        a(href=`/tour/detail/${item.slug}`) #{item.name}
      .inner-prices
        if(item.discount > 0)
          .inner-price-old
            span.inner-unit $
            | #{item.priceAdult.toLocaleString("en-AU")}
        .inner-price-new
          span.inner-unit $
          | #{item.priceNewAdult.toLocaleString("en-AU")}
      .inner-desc
        //- .inner-desc-item
        //-   | Tour ID:
        //-   b #{item.code}
        .inner-desc-item
          | Departure Date: 
          b #{item.departureDateFormat}
        .inner-desc-item
          | Duration: 
          b #{item.time}
      .inner-meta
        //- .inner-rating
        //-   .inner-stars
        //-     - for(let i = 1; i <= item.ratingStars; i++)
        //-       i.fa-solid.fa-star
        //-     - for(let j = item.ratingStars + 1; j <= 5; j++)
        //-       i.fa-regular.fa-star
        //-   .inner-number (#{item.ratingTotal})
        .inner-stock
          .inner-label Available Spots:
          .inner-number #{item.stockAdult}